.container{
	height: 89.5%;
}
.loadingtext{
   position: absolute;
   vertical-align: middle;
   text-align: center;
   width: 99%;
   height: 80%;
   line-height: 650px;
   	font-family: 'VT323', monospace;
	font-size: 1000%;
	color: black;
}
.fileContainer {
    overflow: hidden;
    position: relative;
    font-family: 'VT323', monospace;
	font-size: 5px;
	text-align: center;
	display: block;
	color: white;
	border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: black;
    font-size: 20px;
    /*border-radius: 15px;*/
    width: 96%;
}
.fileContainer:hover {
	cursor: pointer;
	background-color: white;
	color : black;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;

}


body {
position: relative;
margin: 0;
height: 100%;
padding: 0;
background-color: #0276FD;
width: 100%;
font-size: 13px;
color: #333;
}
.typingdiv {
	padding: 0px;
	border-style: solid;
    border-width: 3px;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
background: rgba(242,249,255,1);
background: -moz-linear-gradient(top, rgba(242,249,255,1) 0%, rgba(2,118,253,1) 75%, rgba(2,118,253,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,249,255,1)), color-stop(75%, rgba(2,118,253,1)), color-stop(100%, rgba(2,118,253,1)));
background: -webkit-linear-gradient(top, rgba(242,249,255,1) 0%, rgba(2,118,253,1) 75%, rgba(2,118,253,1) 100%);
background: -o-linear-gradient(top, rgba(242,249,255,1) 0%, rgba(2,118,253,1) 75%, rgba(2,118,253,1) 100%);
background: -ms-linear-gradient(top, rgba(242,249,255,1) 0%, rgba(2,118,253,1) 75%, rgba(2,118,253,1) 100%);
background: linear-gradient(to bottom, rgba(242,249,255,1) 0%, rgba(2,118,253,1) 75%, rgba(2,118,253,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9ff', endColorstr='#0276fd', GradientType=0 );
}
.footer {
  position: absolute;
  margin:0 auto;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  text-align: center;
}
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}
.siteinfo {
	min-width: 250px;
	vertical-align: top;
	text-align: center;
	font-size: 150%;
	padding: 10px 10px;
	background-color: black;
    color: white;
    border-radius: 15px;
    border-width: 5px;
    font-family: 'Arial';
}
.contenttable {
	width: 100%;
}
.searchparamtitle{
	font-family: 'VT323', monospace;
	font-size: 200%;
	text-align: center;
}
.gbutton{
	font-family: 'VT323', monospace;
	font-size: 200%;
	text-align: center;
	display: block;
	color: white;
	border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: black;
    border-radius: 15px;
    width: 100%;
}
.fbtds {
	text-align: center;
}
.ihooksbuttons{
	padding: 0;
	font-family: 'VT323', monospace;
	/*font-size: 200%;*/
	display: block;
	margin: auto;
	color: white;
	border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: black;
    font-size: 15px;
    /*width: 100%;*/
}
.gbuttonexample{
	font-family: 'VT323', monospace;
	height: 100%;
	font-size: 250%;
	text-align: center;
	display: block;
	color: white;
    background-color: black;
    border-radius: 15px;
    width: 100%;
    border: none;
    outline:none;
}
.gbuttonexample:hover {
	cursor: pointer;
	background-color: white;
	color : black;
}
.gbutton:hover {
	cursor: pointer;
	background-color: white;
	color : black;
}
.gbuttongraph{
	font-family: 'VT323', monospace;
	font-size: 200%;
	text-align: center;
	display: block;
	color: white;
	border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: black;
    border-radius: 15px;
    width: 100%;
}
.gbuttongraph:hover {
	cursor: pointer;
}
#divpassage{
	height: 240px;
	font-family: 'Arial';
	font-size: 40px;
}
.currentstats {
	width:100%;
	border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.content {
	vertical-align: top;
background-color: black;
color: white;
border-radius: 15px;
border-spacing : 0px;
padding: 10px;
width: 100%;
height: 100%;
}
.divusertyping{
	width: 98%;
    bottom: 25px;
}
.externallinks {
	vertical-align: bottom;
}
.graphinfotable {
	width: 100%;
	padding: 0px;
}
.paramtableandinfo{
	vertical-align: top;
	padding: 0;
	padding: 5px 5px;
	background-color: black;
    color: white;
    border-radius: 15px;
	border-spacing : 0px;
}
.graphtableandinfo{
	vertical-align: middle;
	text-align: center;
	height: 50px;
	padding: 0;
	padding: 5px 5px;
	background-color: black;
    color: white;
    border-radius: 15px;
	border-spacing : 0px;
}
.precisionbox{
	vertical-align: middle;
	text-align: center;
	padding: 0;
	padding: 5px 5px;
	background-color: black;
    color: white;
    border-radius: 15px;
	border-spacing : 0px;
	font-size: 20px;
	font-family: 'VT323', monospace;
}
.wordlistinputs{
	vertical-align: middle;
	text-align: center;
	height: 50px;
	padding: 0;
	padding: 10px 10px;
	background-color: black;
    color: white;
    border-radius: 15px;
	border-spacing : 0px;
	width: 200px;
}
.showexamplebutton{
	vertical-align: middle;
	text-align: center;
	height: 100%;
	width: 120px;
	font-size: 20px;
	padding: 0;
	border-spacing : 0px;
}
.cstext {
font-family: 'VT323', monospace;
font-size:300%;
}
.paramtabletd{

}
.paramtable{
	padding: 0px;
	border-spacing: 0px 0px;
	width : 350px;
	font-size: 10px;
	  font-family: Arial;
}
.newfoot {
  margin: 4px 0px 0px 0px;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  text-align: center;
}

.alink {
	padding: 5px;
	font-size: 230%;
	vertical-align:bottom;
	text-align:center;
	font-family: 'VT323', monospace;
}
.alink:hover {

}
.alink:hover a{
	background-color: black;
		color : #ffffff;
}
.webtitletd {
	vertical-align: bottom;
		padding: 0px;
}


.webtitle {
	vertical-align: bottom;
	font-size: 500%;
/*	
font-family: 'Francois One', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Press Start 2P', cursive;
font-family: 'Iceland', cursive;
font-family: 'Monofett', cursive;
*/
font-family: 'Press Start 2P', cursive;
}
.param {
	max-width: 450px;
}
.chart{
	width	: 100%;
	height	: 500px;
    margin: 4px 0px 0px 0px;
    background-color: black;
    border-radius: 10px;
}	
.tchart{
	width	: 49.8%;
	height	: 48.5%;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
    background-color: black;

}
.tddropdown{
	text-align: left;
}
/*
.pmbuttons{
	width : 24px;
}
*/

.pmbuttons {
  background: #707070;
  background-image: -webkit-linear-gradient(top, #707070, #000000);
  background-image: -moz-linear-gradient(top, #707070, #000000);
  background-image: -ms-linear-gradient(top, #707070, #000000);
  background-image: -o-linear-gradient(top, #707070, #000000);
  background-image: linear-gradient(to bottom, #707070, #000000);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 3px 6px 3px 6px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.pmbuttons:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #707070);
  background-image: -moz-linear-gradient(top, #000000, #707070);
  background-image: -ms-linear-gradient(top, #000000, #707070);
  background-image: -o-linear-gradient(top, #000000, #707070);
  background-image: linear-gradient(to bottom, #000000, #707070);
  text-decoration: none;
}

.diagbuttons {
  background: #707070;
  background-image: -webkit-linear-gradient(top, #707070, #000000);
  background-image: -moz-linear-gradient(top, #707070, #000000);
  background-image: -ms-linear-gradient(top, #707070, #000000);
  background-image: -o-linear-gradient(top, #707070, #000000);
  background-image: linear-gradient(to bottom, #707070, #000000);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.diagbuttons:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #707070);
  background-image: -moz-linear-gradient(top, #000000, #707070);
  background-image: -ms-linear-gradient(top, #000000, #707070);
  background-image: -o-linear-gradient(top, #000000, #707070);
  background-image: linear-gradient(to bottom, #000000, #707070);
  text-decoration: none;
}

button:focus {outline:0;}
select:focus {outline:0;}

.dropdown{
	height: 20px;
	width : 135px;
	  background: #707070;
  background-image: -webkit-linear-gradient(top, #707070, #000000);
  background-image: -moz-linear-gradient(top, #707070, #000000);
  background-image: -ms-linear-gradient(top, #707070, #000000);
  background-image: -o-linear-gradient(top, #707070, #000000);
  background-image: linear-gradient(to bottom, #707070, #000000);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 0px 0px 0px 0px;
  border: solid #ffffff 2px;
  text-decoration: none;
}
html {
    margin: 0;
    height: 100%;
}
a  {
	color: #000000;
    text-decoration: none;

}
.titletyping{
	width: 600px;
}
#usertyping{
    border-width:5px;  
    border-style:inset;
	font-size:300%;
}
#page {
background-color: #ddd;
width: 750px;
margin: auto;
margin-left: auto;
padding-left: 0px;
margin-right: auto;
}


.minegcgform
{
  margin: auto;
  width: 50%;
}

.minegcgforminput
{
  font-family: 'VT323', monospace;
  font-size: 40px;
}

